{
  "extends": [
    "stylelint-config-shopify",
  ],
  "rules": {
    "at-rule-name-newline-after": null,
    "color-no-hex": null,
    "font-weight-notation": null,
    "function-comma-newline-after": null,
    "function-max-empty-lines": 1,
    "function-parentheses-newline-inside": null,
    "function-url-scheme-whitelist": ['http', 'https', 'data'],
    "order/properties-order": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/partial-no-import": null,
    "selector-class-pattern": "^[a-zA-Z][a-zA-Z0-9-_]+$",
    "value-list-max-empty-lines": 1
  },
}
